@font-face {
    font-family: 'PP Neue Montreal';
    src: url("./fonts/PPNeueMontreal-Thin.otf");
    font-weight: 300;
}
@font-face {
    font-family: 'PP Neue Montreal';
    src: url("./fonts/PPNeueMontreal-Book.otf");
    font-weight: 400;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url("./fonts/PPNeueMontreal-Medium.otf");
    font-weight: 500;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url("./fonts/PPNeueMontreal-Bold.otf");
    font-weight: 700;
}